@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  color: #333;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.85);
  height: 76px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  color: #666;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.3s;
}

.logo:hover {
  color: #333;
}

.menu {
  display: flex;
  gap: 30px;
}

.menu a {
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  transition: color 0.3s;
}

.menu a:hover {
  color: #337ab7; 
}

.hero {
  background-image: url('../img/alex-holzreiter--5tFROaYDUo-unsplash.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  text-align: center;
  color: white;
  padding: 20px;
  border-radius: 8px;
}

.hero h1 {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 20px;
  font-size: 32px;
}

.hero p {
  font-size: 16px;
  margin-bottom: 30px;
}

.hero-overlay {
  max-width: 800px;
  margin: 0 auto;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.btn {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  padding: 12px 24px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 3px;
  transition: 0.3s;
}

.btn-outline {
  border: 1px solid white;
  color: white;
  background-color: transparent;
}

.btn-outline:hover {
  background-color: white;
  color: #333;
}

.btn-primary {
  background-color: #7d5fff; 
  color: white;
  border: none;
}

.btn-primary:hover {
  background-color: #5e3eff;
}
